<!DOCTYPE html >
<html ng-app="allRoute">
    
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{{titre}}</title>
        

    <!-- App Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/icons/apple-icon-57x57.png">

    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    
    

    <meta name="theme-color" content="#F44336">



        <!-- CORE CSS FRAMEWORK - START -->
        <link href="assets/fonts/icons/material-icons.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link href="assets/css/preloader.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link href="assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="assets/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="assets/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        
        <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" id="main-style"/>
        

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->

    
    <body class="  html"  data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
        
        <!-- Preloder lors du chargement de la page -->



        <ng-view></ng-view>




<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/js/materialize.js"></script>


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script type="text/javascript">
  $(document).ready(function(){
      
   

      setTimeout(autoplay, 3500);
      function autoplay() {
          $(".carousel").carousel("next");
          setTimeout(autoplay, 3500);
      }

  }); 
    </script>


<!-- DEFINITION DES ANGULAR SCRIPT --> 

<script src="bin/components/angular.min.js"></script>
<script src="bin/components/angular-route.js"></script>
<script src="bin/route/route.js"></script>
<script src="bin/controllers/appControllers.js"></script>


<!-- BRIDGE ANDROID JAVASCRIPT -->

<script src="bin/bridge/get_session_status.js"></script>
<script src="bin/bridge/toast.js"></script>
<script src="bin/bridge/insert_user.js"></script>
<script src="bin/bridge/get_userID.js"></script>
<script src="bin/bridge/get_pseudo.js"></script>
<script src="bin/bridge/logout.js"></script>

<!-- <script src="bin/components/authentification_service.js"></script> -->
<!-- <script src="bin/bridge/session.js"></script> -->
<!-- <script src="bin/bridge/toast.js"></script> -->


<script src="assets/js/init.js"></script>
<script src="assets/js/settings.js"></script>
<script src="assets/js/scripts.js"></script>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    $('.preloader-background').delay(10).fadeOut('slow');
  });
</script>

</body>

</html>



