


<!--         <div class="preloader-background" ng-show>
            <div class="preloader-wrapper">
                <div id="preloader"></div>
            </div>
        </div>
 -->


<!-- START navigation -->
<nav class="fixedtop topbar navigation z-depth-5"  role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class=" brand-logo " ><i class="mdi mdi-ring"></i>LILA' S</a>

        <!-- <a href="#" data-target="" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="mdi mdi-chevron-left" data-page=""></i></a> -->

        <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large" style="margin-left: 4px"><i class="mdi mdi-menu"></i></a>



        <!-- <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"><i class="mdi mdi-tune"></i></a> -->

        <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i class="mdi mdi-invert-colors mdi-transition1"></i></a>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
<ul id="slide-nav" class="sidenav sidemenu">
    <li class="menu-close"><i class="mdi mdi-close"></i></li>
    <li class="user-wrap">
      <div class="user-view row">
      <!-- <div class="background">
        <img src="assets/images/office.jpg">
      </div> -->
      <div class="col s3 imgarea">
        <a href="#user"><img class="circle" src="assets/images/user-7.jpg"></a></div>
      
      <div class="col s9 infoarea">
        <a href="#name"><span class="name">Cherry Smith</span></a>
        <a href="#email"><span class="email">user@user.com</span></a>
      </div>
      </div>

    </li>
    

    <li class="menulinks"><ul class="collapsible">
      <!-- SIDEBAR - START -->

    <!-- MAIN MENU - START -->

            <li class="sh-wrap"><div class="subheader">Navigation</div></li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="#!/home">
                        <i class="red-text mdi mdi-home-outline"></i>
                        <span class="title red-text">Accueil</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="#">
                        <i class="blue-text mdi mdi-home-outline"></i>
                        <span class="title blue-text">Favoris</span>
                            </a>
                        </div>
                    </li>

                    

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="#">
                        <i class="green-text mdi mdi-grid-large"></i>
                        <span class="title green-text">Produits</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="#">
                        <i class="mdi mdi-message-text-outline purple-text"></i>
                        <span class="title">Partager l'application</span>  </a>
                        </div></li>
                        <!-- <li class="sep-wrap"><div class="divider"></div></li> -->
                    <li class="lvl1 ">
                    

            
    <!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
      
    </li>
    </ul></li>
      
    

</ul>
<!-- END navigation -->


   <div class="carousel carousel-fullscreen carousel-slider home_carousel">
    <div class="carousel-item" href="#one!"><div class="bg" style="background-image: url('assets/images/slider-1.jpg');height: 200px"></div>
                        <div class="item-content center-align white-text">
                              <div class="spacer-large"></div>
                              <h3>Bienvenue chez Lila'Shop</h3>
                              <!-- <h5 class="light white-text">Lila Shop pour vous servir</h5> -->
                        </div>
    </div>
    <div class="carousel-item" href="#two!"><div class="bg" style="background-image: url('assets/images/slider-4.jpg');height: 200px"></div>
                        <div class="item-content left-align white-text">
                              <div class="spacer-large"></div>
                              <h3>Une gamme de produits!</h3>
                              <!-- <h5 class="light white-text">The best mobile app template ever.</h5> -->
                        </div>
    </div>
    <div class="carousel-item" href="#three!"><div class="bg" style="background-image: url('assets/images/slider-2.jpg');height: 200px"></div>
                        <div class="item-content center-align white-text">
                              <div class="spacer-large"></div>
                              <!-- <h3>ZAK has tons of features & functionalities</h3> -->
                              <h5 class="light white-text">Lila'Shop pour vous servir.</h5>
                        </div>
    </div>
    <div class="carousel-item" href="#four!"><div class="bg" style="background-image: url('assets/images/slider-3.jpg');height: 200px"></div>
                        <div class="item-content right-align white-text">
                              <div class="spacer-large"></div>
                              <h3>Commander et acheter dès maintenant</h3>
                              <!-- <h5 class="light white-text">The best mobile app template ever.</h5> -->
                        </div>
    </div>
  </div>

<!--       <div class="row" style="background-color: #f2f4f8;">
      <div class="container">
        <h5 class="blue-text"><b>Catégories</b></h5>
      </div>
      <div class="col s12">
        <div class=" col s4 center">
          <a class="btn-floating btn red waves-effect waves-light cat_style" href="#cat">
            <i class="material-icons white-text" style="font-size: 2.0rem!important;">accessibility</i>
          </a>
          <p class="center">T-shirts</p>
        </div>
        <div class=" col s4 center">
          <a class="btn-floating btn red waves-effect waves-light cat_style" href="#cat">
            <i class="material-icons white-text" style="font-size: 2.0rem!important;">person</i>
          </a>
          <p class="center">Robes</p>
        </div>
        <div class=" col s4 center">
          <a class="btn-floating btn red waves-effect waves-light cat_style" href="#cat">
            <i class="material-icons white-text" style="font-size: 2.0rem!important;">work</i>
          </a>
          <p class="center">Costumes</p>
        </div>
        <a class="btn-small waves-effect waves-light back z-depth-0 right" href="#cat">Voir tout</a>
        <br>
      </div>
    </div> -->


    <div class="spacer"></div>

    <div class="row">
      <div class="col s12">

        <div class="container">
          <h5 class="blue-text"><b>Produits Récents</b></h5>
        </div>

        <!-- La progress bar -->
        <div class="center" ng-show="loader">
          <br><br>
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <br><br>

        </div>

        <div class="row center">

            <div class="col s6" ng-repeat="recent in recents">
                
                
                <div class="card border-card">
                    <div class="card-image">
                      <img src="assets/images/cards-2.jpg" height="150px" width="100%">
                      <a href="#!/like/{{recent.id_article}}" ng-show="{{connect==true}}" class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="material-icons">favorite</i></a>
                    </div>

                    <a href="#!/details/{{recent.id_article}}">
                    <div class="card-content">
                      <span class="blue-text truncate"><b>{{recent.libelle_article}}</b></span>
                      <span class="red-text" style="font-size:10px"><b>{{recent.prix_article}}</b></span>
                    </div>
                    </a>
                  </div>
                

            </div>


          <br>
     
        </div>


             <!-- La progress bar -->
            <div class="center" ng-show="loader==true">
                <br><br>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>

            </div>

        <p class="center" ng-show="articles"><a href="#" class="btn-small waves-effect waves-light back z-depth-0">Voir plus</a></p>  
        <br>


        <!-- S'il n'y a pas de connexion -->
        <div ng-show="status-data">
          <br><br>
          <p class="center"><i class="material-icons large blue-text">wifi</i></p>
          <br>
          <p class="center">Activer vos données mobiles</p>
          <br>
        </div>

      </div>

    </div>



<div class="footer-menu">
      <ul>
        <li>
          <a href="#!/pdetails">          
            <i class="material-icons" style="margin-top: 5px">favorite</i>
          <span>Favoris</span>
          </a>        </li>
        <li>
          <a href="#!/categories">          <i class="material-icons" style="margin-top: 5px">dashboard</i>
          <span>Categories</span>
          </a>        </li>
        <li>
          <a href="#" class=" active">          <i class="mdi mdi-home-outline"></i>
          <span>Home</span>
          </a>        </li>
        <li>
          <a href="#!/produits">          <i class="material-icons" style="margin-top: 5px">spa</i>
          <span>Produits</span>
          </a>        </li>
        <li>
          <a href="#!/login">          <i class="material-icons" style="margin-top: 5px">account_circle</i>
          <span>Profil</span>
          </a>        </li>

      </ul>
    </div>

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script type="text/javascript">
  $(document).ready(function(){
      
      $(".carousel-fullscreen.carousel-slider").carousel({
        fullWidth: true,
        indicators: true,
        // height: 200
      });
      // setTimeout(autoplay, 3500);
      // function autoplay() {
      //     $(".carousel").carousel("next");
      //     setTimeout(autoplay, 3500);
      // }
      //    $(".slider3").slider({
      //           indicators: false,
      //           height: 100,
      //   });

      
      setTimeout(autoplay, 3500);
      function autoplay() {
          $(".carousel").carousel("next");
          setTimeout(autoplay, 3500);
      }

  }); 
    </script>





<!-- UI SCRIPTS PRELODER ET SIDE NAV -->


<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/js/materialize.js"></script>


<script src="assets/js/scripts.js"></script>
<script src="assets/js/init.js"></script>
<script src="assets/js/settings.js"></script>


<script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script> 

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    $('.preloader-background').delay(1).fadeOut('slow');
  });
</script>

