<div class="container">

  <div class="row">

    <div class="col s12">

      <div class="">
         <div class="">
             <h1 class="center"><i class="material-icons large blue-text">account_circle</i></h1>
          </div>
          <div class="center">

            <form id="myLogin" novalidate>

               <div class="input-field">
                    <label for="phone">Télephone</label>
                      <input type="number" id="phone" required="" class="validate" ng-model="userPhone"><br>
                </div>
                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" id="password" required="" class="validate" ng-model="password">
                </div>


               <button class=" waves-effect waves-dark green btn-large" type="submit" ng-click="submit()">Connexion</button>

            </form>

             <!-- La progress bar -->
            <div class="center" ng-show="loader==true">
                <br><br>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="center">
                  <a href="#register" class="btn red white-text">Inscription</a>
        
            </div>    
                        
          </div>
       </div>

      
    </div>
    
  </div>

</div>