


<!-- START navigation -->
<nav class="fixedtop topbar navigation z-depth-5"  role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class=" brand-logo " >{{title}}</a>

        <a href="#" data-target="" style="margin-left: 4px" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="material-icons" data-page="" style="font-style: bold">arrow_back</i></a>

        <!-- <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large" style="margin-left: 4px"><i class="mdi mdi-menu"></i></a> -->



        <!-- <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"><i class="mdi mdi-tune"></i></a> -->

        <a href="#" class="waves-effect waves-circle  right nav-site-mode"><i class="material-icons">shopping_basket</i></a>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
<ul id="slide-nav" class="sidenav sidemenu">
    <li class="menu-close"><i class="mdi mdi-close"></i></li>
    <li class="user-wrap">
      <div class="user-view row">
      <!-- <div class="background">
        <img src="assets/images/office.jpg">
      </div> -->
      <div class="col s3 imgarea">
        <a href="#user"><img class="circle" src="assets/images/user-37.jpg"></a></div>
      
      <div class="col s9 infoarea">
        <a href="#name"><span class="name">Cherry Smith</span></a>
        <a href="#email"><span class="email">user@user.com</span></a>
      </div>
      </div>

    </li>
    

    <li class="menulinks"><ul class="collapsible">
      <!-- SIDEBAR - START -->

    <!-- MAIN MENU - START -->

            <li class="sh-wrap"><div class="subheader">Navigation</div></li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="#">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Collections</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="ui-pages-home.html">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Favoris</span>
                            </a>
                        </div>
                    </li>

                    

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="sub-portfolio.html">
                        <i class="mdi mdi-grid-large"></i>
                        <span class="title">Portfolio</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="#">
                        <i class="mdi mdi-message-text-outline"></i>
                        <span class="title">Partager l'application</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect "><a href="#" data-target="slide-settings" data-target="slide-settings" class="sidenav-trigger"><i class="mdi mdi-settings-outline"></i><span class="title">Paramètres</span>  </a>
                        </div></li>
            
    <!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
      
    </li>
    </ul></li>
      
    

</ul>
<!-- END navigation -->






<div id="content" class="page">

        
        <!-- Hero Header -->
        <div class="hero-header animated fadein">
<div class="carousel carousel-fullwidth carousel-slider" style="height: 246px;">
    <a class="carousel-item" href="#one!" style="z-index: -2; opacity: 1; visibility: visible; transform: translateX(0px) translateX(-656px) translateZ(0px);"><img src="assets/images/carousel-11.jpg"></a>
    <a class="carousel-item" href="#two!" style="transform: translateX(0px) translateX(-328px) translateZ(0px); z-index: -1; opacity: 1; visibility: visible;"><img src="assets/images/carousel-12.jpg"></a>
    <a class="carousel-item active" href="#three!" style="transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px); z-index: 0; opacity: 1; visibility: visible;"><img src="assets/images/carousel-13.jpg"></a>
    <a class="carousel-item" href="#four!" style="transform: translateX(0px) translateX(328px) translateZ(0px); z-index: -1; opacity: 1; visibility: visible;"><img src="assets/images/carousel-14.jpg"></a>
    <a class="carousel-item" href="#four!" style="transform: translateX(0px) translateX(656px) translateZ(0px); z-index: -2; opacity: 1; visibility: visible;"><img src="assets/images/carousel-15.jpg"></a>
  <ul class="indicators"><li class="indicator-item"></li><li class="indicator-item"></li><li class="indicator-item active"></li><li class="indicator-item"></li><li class="indicator-item"></li></ul></div>


      <div class="row">
        
        <div class="col s3">
          
          <!-- Floating Action Button -->
          <div class="floating-button  ">
            <a href="checkout.html" class="btn-floating pulse btn-large waves-effect waves-light accent-color btn z-depth-1">
              <i class="material-icons">shopping_basket</i>
            </a>
          </div>


        </div>

        <div class="col s8">
            <span><h5 class="blue-text">{{articles[0][0].libelle_article}}</h5></span>
        </div>

      </div>


        </div>




<div class="container">
    <div class="section">
  <span class="pagetitle">DETAILS</span>


  <ul class="collection invoice-item">
            <li class="collection-item">
              <div class="item-det">
                <i class="mdi mdi-currency-eur"></i>
                  <span class="title">Prix</span>
                <div class="secondary-content">
                    <span class="red white-text" style="padding-left: 5px;padding-right: 5px"> {{articles[0][0].prix_article}}
                    </span>
                </div>  
              </div>
                
            </li>

            <li class="collection-item ">
              <div class="item-det">
                <i class="mdi mdi-currency-eur"></i>
                  <span class="title">Catégorie</span>
                <div class="secondary-content">
                    <span class="blue white-text" style="padding-left: 5px;padding-right: 5px"> {{articles[1]}}
                    </span>
                </div>  
              </div>
                
            </li>
            
        </ul>


<ul class="collapsible">
  
  <li class="">
    <div class="collapsible-header" >
      <i class="mdi mdi-message-outline"></i>
      Description du produits
      <span class="badge"></span></div>
    <div class="collapsible-body" style=""><p>{{articles[0][0].descriptif_article}}</p></div>
  </li>
</ul>  
  
  <div class="divider"></div>

<!-- Append on cart -->
    <div class="center">
      
        <a href="" class="btn pulse blue darken-3">Ajouter au panier <i class="material-icons">add_shopping_cart</i></a>

    </div>

  <div class="divider"></div>
    </div>
   </div>


  <div class="card-panel bg-primary invoice-to">
      <h5 class="white-text top-0 center"><i class="large material-icons">phone</i></h5>
      
      <div class="center white-text">
          +226 57023486
      </div>
  </div>

  <blockquote>
    <h6>Articles similaires</h6>
  </blockquote>


                <div class="row center" style="padding: 0">

            <div class="col s6" style="padding: 0">
                
                <div class="card border-middle">
                    <div class="card-image">
                      <img src="assets/images/cards-2.jpg" height="150px" width="100%">
                      <a class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                      <span class="blue-text truncate"><b>Nom produit</b></span>
                      <span class="red-text" style="font-size:10px"><b>Prix FCFA</b></span>
                    </div>
                  </div>

            </div>

          <div class="col s6 ">
            <div class="card border-middle">
                    <div class="card-image">
                      <img src="assets/images/cards-1.jpg" height="150px" width="100%">
                      <a class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                      <span class="blue-text truncate"><b>Nom produit</b></span>
                      <span class="red-text" style="font-size:10px"><b>Prix FCFA</b></span>
                    </div>
                  </div>
          </div>

          <br>
     
        </div>


<!-- Btn Revenir en haut -->
    
    <div class="backtotop" style="display: inline-block;">
    <a class="btn-floating btn blue darken-3">
      <i class="mdi mdi-chevron-up"></i>
    </a>
  </div>


<!-- TABULATION SCRIPT -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 

<!-- SCRIPT UI SIDENAV -->
<script src="assets/js/scripts.js"></script>



<script type="text/javascript">
         $(".tabs").tabs();
         $("#tabs-swipe-demo").tabs({ swipeable: true });
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 

<!-- <script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script> -->


<script type="text/javascript">
if($(".collapsible").length){
        $(".collapsible").collapsible();
}
if($(".collapsible.expandable").length){
$(".collapsible.expandable").collapsible({
      accordion: false
    });
}    </script>

<!-- Carousel of Products 3 img -->

<script type="text/javascript">
  $(document).ready(function(){
      $(".carousel-basic").carousel({
        indicators: false
      });

      $(".carousel-fullwidth.carousel-slider").carousel({
        fullWidth: true,
        indicators: false
      });

      $(".carousel-content.carousel-slider").carousel({
        fullWidth: true,
        indicators: false
      });
     

  });   </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 









