
<!-- START navigation -->
<nav class="fixedtop topbar navigation z-depth-5"  role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class=" brand-logo " >{{title}}</a>

        <a href="#" data-target="" style="margin-left: 4px" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="material-icons" data-page="" style="font-style: bold">arrow_back</i></a>

        <!-- <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large" style="margin-left: 4px"><i class="mdi mdi-menu"></i></a> -->



        <!-- <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"><i class="mdi mdi-tune"></i></a> -->

        <a href="#" class="waves-effect waves-circle  right nav-site-mode"><i class="material-icons">shopping_basket</i></a>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
<ul id="slide-nav" class="sidenav sidemenu">
    <li class="menu-close"><i class="mdi mdi-close"></i></li>
    <li class="user-wrap">
      <div class="user-view row">
      <!-- <div class="background">
        <img src="assets/images/office.jpg">
      </div> -->
      <div class="col s3 imgarea">
        <a href="#user"><img class="circle" src="assets/images/user-7.jpg"></a></div>
      
      <div class="col s9 infoarea">
        <!-- <a href="#name"><span class="name">Cherry Smith</span></a> -->
        <!-- <a href="#email"><span class="email">user@user.com</span></a> -->
      </div>
      </div>

    </li>
    

    <li class="menulinks"><ul class="collapsible">
      <!-- SIDEBAR - START -->

    <!-- MAIN MENU - START -->

            <li class="sh-wrap"><div class="subheader">Navigation</div></li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="#">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Collections</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="ui-pages-home.html">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Favoris</span>
                            </a>
                        </div>
                    </li>

                    

                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="sub-portfolio.html">
                        <i class="mdi mdi-grid-large"></i>
                        <span class="title">Portfolio</span>
                            </a>
                        </div>
                    </li>

                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="#">
                        <i class="mdi mdi-message-text-outline"></i>
                        <span class="title">Partager l'application</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect "><a href="#" data-target="slide-settings" data-target="slide-settings" class="sidenav-trigger"><i class="mdi mdi-settings-outline"></i><span class="title">Paramètres</span>  </a>
                        </div></li>
            
    <!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
      
    </li>
    </ul></li>
      
    

</ul>
<!-- END navigation -->




<!-- TABULATION -->

<div class="row">
    <div class="col s12" style="padding: 2px">
      <ul class="tabs z-depth-1 tabs-icons">
        
        <li class="tab col s3 "><a href="#women" class="active"><i class="mdi mdi-message-text-outline"></i></a></li>
        
        <li class="tab col s3"><a href="#men" class=""><i class="mdi mdi-account-search-outline"></i></a></li>

        <li class="tab col s3"><a href="#other" class=""><i class="mdi mdi-settings-outline"></i></a></li>
        
      <li class="indicator" style="left: 148px; right: 317px;"></li></ul>
    </div>
    <div id="women" class="col s12" style="display: none;">
      <div style="padding: 0">

                <div class="row center" style="padding: 0">

            <div class="col s6" ng-repeat="article in articles">
                
                  
                  <div class="card border-middle">



                    <div class="card-image">
                      <img src="assets/images/cards-2.jpg" height="150px" width="100%"/>

                      <a href="" class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="material-icons">favorite</i>
                      </a>
                    </div>


                <a href="#!/details/{{article.id_article}}">
                    <div class="card-content">
                      <span class="blue-text truncate"><b>{{article.libelle_article}}</b></span>
                      <span class="red-text" style="font-size:10px"><b>{{article.prix_article}} F</b></span>
                    </div>
                  </a>
                  
            </div>

         

          <br>
     
        </div>

      </div>
    </div>
    <div id="men" class="col s12 " style="display: block;">
      <div style="padding: 0">
        
                <div class="row center " >

            <div class="col s6">
                
                <div class="card">
                    <div class="card-image">
                      <img src="assets/images/cards-2.jpg" height="150px" width="100%">
                      <a class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                      <span class="blue-text truncate"><b>Nom produit</b></span>
                      <span class="red-text" style="font-size:10px"><b>Prix FCFA</b></span>
                    </div>
                  </div>

            </div>

          <div class="col s6 ">
            <div class="card">
                    <div class="card-image">
                      <img src="assets/images/cards-1.jpg" height="150px" width="100%">
                      <a class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="material-icons">favorite</i></a>
                    </div>
                    <div class="card-content">
                      <span class="blue-text truncate"><b>Nom produit</b></span>
                      <span class="red-text" style="font-size:10px"><b>Prix FCFA</b></span>
                    </div>
                  </div>
          </div>

          <br>
     
        </div>

      </div>
    </div>

    <div id="other" class="col s12" style="display: none;padding: 0">
      <div>
        <p>It's always good to bring a slower friend with you on a hike. If you happen to come across bears, the whole group doesn't have to worry. Only the slowest in the group do. That was the lesson they were about to learn that day. she'll prove she can again. We all already know this and you will too.</p> 
      </div>
    </div>

  </div>



<!-- TABULATION SCRIPT -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 

<!-- SCRIPT UI SIDENAV -->
<script src="assets/js/scripts.js"></script>



<script type="text/javascript">
         $(".tabs").tabs();
         $("#tabs-swipe-demo").tabs({ swipeable: true });
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 

<!-- <script src="assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script> -->
